<form #frm="ngForm" (ngSubmit)="save(frm)">
  <div class="ui-g" >
      <div class="ui-g-7">
        <p-card title="Register documents">
            <div class="ui-g ui-fluid">
                <div class="ui-g-12 ">
                    <input pInputText placeholder="Title" name="name" [(ngModel)]="document.name" [required]="true">
                </div>
                <div class="ui-g-12 ">
                    <textarea pInputTextarea name="description" placeholder="Description..." [(ngModel)]="document.description" autoResize="autoResize" [rows]="5" [cols]="30" [required]="true"></textarea>
                    <input type="hidden" name="active" [(ngModel)]="document.active">
                    <input type="hidden" name="id" [(ngModel)]="document.id">
                </div>
            </div>
            <p-footer>
              <div class="ui-g">
                  <div class="ui-g-12">
                    <button pButton type="submit" label="Save" [disabled]="frm.invalid"></button>
                  </div>
              </div>
            </p-footer>
        </p-card>
      </div>
  </div>
</form>

<div class="ui-g">
    <div class="ui-g-12">
      <p-card title="Documents">
        <div class="ui-g ">
          <div class="ui-g-12">
            <p-dataTable [value]="documents">
              <p-column field="document.name" header="Title"></p-column>
              <p-column field="document.description" header="Description"></p-column>
              <p-column field="role" header="Role"></p-column>
              <p-column >
                  <ng-template let-doc="rowData" pTemplate="body"  [ngIf]="role == 'WRITE'">
                    <p-button title="Edit document" icon="fa fa-pencil" (click)="edit(doc)" styleClass=" ui-button-icon ui-button-warning"></p-button>
                    <p-button title="Delete document" icon="fa fa-trash" (click)="delete(doc)" styleClass="ui-button-icon ui-button-danger"></p-button>
                    <p-button title="Add user" icon="fa fa-user" (click)="show(doc)" styleClass="ui-button-icon"></p-button>
                  </ng-template>  
              </p-column>
            </p-dataTable>
          </div>
        </div>
      </p-card>      
    </div>
</div>

<p-dialog header="Users' access" [(visible)]="display" [modal]="true" [responsive]="true" [width]="350" [minWidth]="200" [minY]="70">
    <div class="ui-g">
      <div class="ui-g-12">
        <p-autoComplete [(ngModel)]="user" [suggestions]="users" (completeMethod)="search($event)"></p-autoComplete>
      </div>
      <div class="ui-g-12">
        <p-dropdown [options]="roles" [(ngModel)]="role" placeholder="Select a Role" optionLabel="role" [showClear]="true"></p-dropdown>
      </div>
      <div class="ui-g-12">
        <p-button title="Add" icon="fa fa-add" (click)="addUser()" styleClass=" ui-button-icon"></p-button>
      </div>
      <div class="ui-g-12">
        <p-card title="Users">
            <div class="ui-g ">
              <div class="ui-g-12">
                <p-dataTable [value]="tables">
                  <p-column field="user.login" header="User"></p-column>
                  <p-column field="role" header="Role"></p-column>
                  <p-column >
                    <ng-template let-table="rowData">
                      <p-button title="Delete Acess" icon="fa fa-trash" (click)="removeUser(table)" styleClass="ui-button-icon ui-button-danger"></p-button>
                    </ng-template>  
                </p-column>
              </p-dataTable>
            </div>
          </div>
        </p-card>
      </div> 
    </div>
  <p-footer>
      <button type="button" pButton icon="fa-close" (click)="close()" label="No"></button>
  </p-footer>
</p-dialog>