<form #frm="ngForm" (ngSubmit)="save(frm)">
    <div class="ui-g">
        
        <div class="ui-g-7 ui-fluid">
            <label>Title</label>
            <input pInputText name="name" [(ngModel)]="document.name" [required]="true">
        </div>
        <div class="ui-g-7 ui-fluid">
          <label>Description</label>
          <textarea pInputTextarea name="description" [(ngModel)]="document.description" ngModel [required]="true"></textarea>
          <input type="hidden" name="active" [(ngModel)]="document.active">
      </div>
      <div class="ui-g-12">
        <button pButton type="submit" label="Save" [disabled]="frm.invalid"></button>
      </div>
  
    </div>
  </form>